- hosts: all
  become: yes
  gather_facts: no
  tasks:
  
  
    - name: Wait for automatic system updates
      shell: while sudo fuser /var/lib/dpkg/{{ item }} >/dev/null 2>&1; do sleep 3; done;
      with_items:
        - lock
        - lock-frontend  
  
    - name: Check that the /dev/xvdh exists
      stat:
        path: /dev/xvdh
      register: mount_volume
      
    - name: Update
      apt:
        update_cache: yes
      register: update_result
      ignore_errors: True        
      
    - name: fail the play if the previous command did not succeed
      shell: "apt update"
      when: "'FAILED' in update_result.stderr"      
      
    - name: Add Docker GPG apt Key
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present   
        
    - name: Update and upgrade2
      apt:
        upgrade: yes
        update_cache: yes
        autoremove: yes
        autoremove: yes      
        

    - name: Add Docker Repository
      apt_repository:
        repo: deb https://download.docker.com/linux/ubuntu bionic stable
        state: present        
           

    - name: Update and upgrade
      apt:
        update_cache: yes       
        
    - name: Update and install docker-ce
      apt: update_cache=yes name=docker-ce state=latest              
      
    - name: Change data-root location in /etc/docker/daemon.json if mount exists
      shell: |
        echo '{"data-root": "/data"}' > /etc/docker/daemon.json
      when: mount_volume.stat.exists == True
      
    - name: Restart service docker, in all cases
      service:
        name: docker
        state: restarted     
      ignore_errors: yes
      when: mount_volume.stat.exists == True  
